/*header*/

header h1{
    margin-top: 35px;
}

header nav{
    display: block;
}

header div#menu_btn{
    display: none;
}

/*section Start*/
section{
	margin: 0;
}
section div#stionWrap {
	
}
section div#stionWrap div#leftT{
    
	padding-top:6%;
	float: left;
	width: 40%;
	
}


section div#stionWrap div#rightB{
    width: 60%;
    float: right;
    
}


section div#stionWrap div#rightB img{
    width: 100%;
    padding:0px 0px;
}



/*gall Start*/
div#gall{
    width: 90%;
    margin: auto;
    overflow: hidden;
    
}
div#gall ul{
  margin-right: 0;
}
   
div#gall ul li{
   
    float: left;
    width: 28%;
    margin-left: 0;
	
}

div#gall ul li img{
    width: 100%;
    
}

/*news Start*/


div#news figure{
  
    float: left;
	width: 45%;
    margin-right: 10px;
}



/*footer Start*/
footer dl{
	width: 25%;
    float: left;
	text-align: left;
	margin-right: 5px;
	
}

footer dt{
	margin-left: -2px;
	
}


footer dd>span{
    margin-left: 0px;
    
}




